body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #a0a0a0;
}

#container {
  margin-top: 0px; /* Provides space below the fixed header */
  padding: 0px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  box-sizing: border-box;
}

#ticket-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 0px;
  box-sizing: border-box;
}

.ticket-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  transition: all 0.2s ease;
}

.ticket {
  position: relative;
  width: 100%;
  aspect-ratio: 5.5 / 1;
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-family: sans-serif;
}

.ticket [data-type] {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease;
}


[data-type="code"] {
  top: 0%;
  left: 2%;
  font-size: 9.5vw;
  font-weight: bold;
}

[data-type="prod"] {
  top: 70%;
  left: 2%;
  font-size: 3vw;
  font-weight: bold;
}

.issue {
  position: absolute;
  top: 72%;
  left: 28%;
  font-size: 1.3vw;
}

[data-type="date"] {
  display: block;
}

.steps {
  position: absolute;
  top: 75%;
  left: 36%;
  display: flex;
  gap: 0vw;
  font-size: 1.0vw;
}

.steps div {
  text-align: center;
  width: 8.5vw;
  border: 1px solid black;
  padding-bottom: 2vw;
}

.size-box {
  position: absolute;
  top: 0%;
  left: 80%;
  width: 10%;
  height: 60%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  font-weight: bold;
  transition: background 0.3s;
}

.size-box[data-value="3"] { background: #ffffff; border: 1px solid black; color: #000000;}
.size-box[data-value="4"] { background: #00bd91; color: #ffffff;}
.size-box[data-value="5"] { background:#0062ff; color: #ffffff;}
.size-box[data-value="6"] { background: #d60000; color: #ffffff;}
.size-box[data-value="7"] { background: #14c400; color: #ffffff;}
.size-box[data-value="8"] { background: #ffeb0d; color: #000000;}
.size-box[data-value="9"] { background: #be0dff; color: #ffffff;}

.multiplier {
  position: absolute;
  top: 20%;
  left: 91%;
  font-size: 4vw;
}

.multiplier .count {
	padding-left: 0.2em;
  font-weight: bold;
  font-size: 5vw;
}

[data-type="count"] {
  cursor: pointer;
}

.footer {
  position: absolute;
  top: 55%;
  left: 90%;
  height: 10vw;
  width: 8vw;
  text-align: center;
}

.footer .b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 4vw;
}

.footer .month {
  position: absolute;
  top: 4.2vw;
  left: 0;
  width: 100%;
  font-size: 3vw;
}
